<div class="footer">
	<div class="content">
		<div class="left">
			<div class="logo">
				<a href="javascript:;"></a>
			</div>
			<p>食品经营许可证<br/>
              北京幸福快乐佳焙餐饮管理有限公司<br/>
              统一社会信用代码：<br/>
              91110108MA00AUEE7E</p>
		</div>
		<div class="center">
			<ul>
				<li><a href="javascript:;">联系我们<br/><span>Contact us</span></a></li>
				<li><a href="javascript:;">订购帮助<br/><span>Purchasing Helper</span></a></li>
				<li><a href="javascript:;">品牌故事<br/><span>Brand story</span></a></li>
				<li><a href="javascript:;">企业专区<br/><span>Enterprise Column</span></a></li>
			</ul>
		</div>
		<div class="right">
			<div class="right-icon">
				<a href="javascript:;"><img class="img1" src="/images/weibo-icon.png"></a>
				<a href="javascript:;"><img class="img2" src="/images/wx-icon.png"></a>
				<a href="javascript:;"><img class="img3" src="/images/tmall-icon.png"></a>
			</div>
			<div class="weibo">
				<img src="/images/weibo.png">
			</div>
			<div class="weixin">
				<img src="/images/weixin.jpg">
			</div>
			<div class="taobao">
				<img src="/images/taoao.jpg">
			</div>
			<p class="p-1">
				预定电话：010-85888559 400-900-6177<br/>
				北京市朝阳区建国路89号院16号楼622号<br/>
				北京五环内免费配送<br/>
				请提前24小时预定<br/>
			</p>
		</div>
	</div>
</div>